.next {
    background-color: #D8664D;
    padding: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 10px;
    border-radius: 5px;
}

.next_figure {
    width: auto;
    height: auto;
    background-color: #E20338;
    border: 2px solid black;
    border-radius: 3px;
}

.next p {
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 1px;
    padding-top: 3px;
    font-weight: bold;
    text-align: center;
}
