.next {
    background-color: darkgray;
    padding: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 10px;
    border-radius: 5px;
}

.next_figure {
    width: 150px;
    height: 150px;
    background-color: rgba(244, 240, 238, 0.98);
    border: 2px solid black;
    border-radius: 3px;
}

.next p {
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 1px;
    padding-top: 3px;
    font-weight: bold;
    text-align: center
}
